apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      containers:
      - name: qbittorrent
        image: lscr.io/linuxserver/qbittorrent:5.1.4
        ports:
          - containerPort: 8080
          - containerPort: 6881
            hostPort: 6881
            protocol: TCP
          - containerPort: 6881
            hostPort: 6881
            protocol: UDP
        env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: TZ
            value: "Europe/London"
          - name: WEBUI_PORT
            value: "8080"
        volumeMounts:
          - name: config
            mountPath: /config
          - name: downloads
            mountPath: /media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: qbittorrent-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: media-shared-pvc